
/* For mobile phones: 360px*/


@media only screen and (min-width: 360px) {

.mainpage {background-image: url(../image/backgroung-2.jpg);
    background-size: cover;             
}
.introduction{
    text-align: center;
    position: relative;
    width:90%;
    margin: 0 auto;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: space-around;
    margin: 1em 0;
    margin-top: 10%;
    margin-left: 10%;
}
.container .refrenceOne{
    flex-basis: 50px;
}
.address{
    margin: 1% auto;  
}
.phone{
    margin: 1% auto;
}
.email{
    margin: 1% auto;
}
h3{
   text-align: center;
}
.teaching li{
     margin-left: 30px; 
}
}

/* For mobile phones: 411px */

@media only screen and (min-width: 411px) {

.mainpage {background-image: url(../image/backgroung-2.jpg); 
    background-size: cover;    
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: space-around;
    margin: 1em 0;
    margin-top: 10%;
    margin-left: 10%;
}
.container .refrenceOne{
    flex-basis: 50px;
}       
.introduction{
text-align: center;
position: relative;
width:90%;
margin: 0 auto;
}
.address{
        margin: 1% auto;  
}
.phone{
        margin: 1% auto;
}
.email{
      margin: 1% auto;
}      
h3{
text-align: center;
}
.teaching li{
    margin-left: 30px; 
}
}

/* For mobile phones: 320px */
@media only screen and (min-width: 320px) {

.mainpage{background-image: url(../image/backgroung-2.jpg);
            background-size: cover;      
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: space-around;
    margin: 1em 0;
    margin-top: 10%;
    margin-left: 10%;
}
.container .refrenceOne{
    flex-basis: 50px;
}
.introduction{
    text-align: center;
    position: relative;
    width:90%;
    margin: 0 auto;
}
      
.address{
    margin: 1% auto;  
    }
.phone{
    margin: 1% auto;
}
.email{
     margin: 1% auto;
}       
h3{
    text-align: center;
}
.teaching li{
    margin-left: 30px; 
}
}

/* For mobile phones: 375px */
@media only screen and (min-width: 375px) {

.mainpage {background-image: url(../image/backgroung-2.jpg);
    background-size:cover;  
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: space-around;
    margin: 1em 0;
    margin-top: 10%;
    margin-left: 10%;
    }
.container .refrenceOne{
    flex-basis: 50px;
}       
.introduction{
text-align: center;
position: relative;
width:90%;
margin: 0 auto;
} 
.address{
    margin: 1% auto;  
}
.phone{
    margin: 1% auto;
}
.email{
    margin: 1% auto;
}           
h3{
text-align: center;
}
.teaching li{
    margin-left: 30px; 
}
}

/* For iPad: 768px */

@media only screen and (min-width: 768px) {
.mainpage{background-image: url(../image/backgroung-2.jpg);
    background-size: cover;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: space-around;
    margin: 1em 0;
    margin-top: 10%;
    margin-left: 10%;
}
.container .refrenceOne{
flex-basis: 50px;
}        
.introduction{
text-align: center;
position: relative;
width:90%;
margin: 0 auto;
}
.address{
    display: flex;
     margin: auto 10%;
}
.phone{
    display: flex;
    margin: auto 10%;
}
.email{
    display: flex;
    margin: auto 10%;
    }      
h3{
    text-align: center;
}
.teaching li{
    margin-left: 30px; 
}
}
/* For iPad: 1024px */
@media only screen and (min-width: 1024px) {
.mainpage {background-image: url(../image/backgroung-2.jpg);
    background-size: cover;   
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: space-around;
    margin: 1em 0;
    margin-top: 10%;
    margin-left: 10%;
}
.container .refrenceOne{
    flex-basis: 50px;
}        
.introduction{
    text-align: center;
    position: relative;
    width:90%;
    margin: 30px auto;
}
.address{
    display: flex;
}
.phone{
    display: flex;
}
.email{
display: flex;
}
h3{
text-align: center;
}
.teaching li{
    margin-left: 30px; 
}
}
    
